<% layout('layouts/boilerplate') %>

<div id="map" style="width: 100%; height: 500px;"></div>
<div class="container mt-3 mb-5">
    <h1 class="mb-4 text-center">All Campgrounds</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% for (let campground of campgrounds) { %>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <%if(campground.images.length){%>
                    <img crossorigin="anonymous" src="<%=campground.images[0].url%>" height="200" class="card-img-top" alt="<%= campground.title %>">
                    <%}%>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"><%= campground.title %></h5>
                        <p class="card-text"><%= campground.description.slice(0,100) %><%= campground.description.length>100?"...": ""%></p>
                        <p class="card-text text-muted fw-semibold">$<%= campground.price %></p>
                        <div class="mt-auto">
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary w-100">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>

<script>
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>
<script src="/javascripts/clusterMap.js"></script>