<% layout('layouts/boilerplate') %>

<div class="container mt-3 mb-5">
    <h1 class="mb-4 text-center">All Campgrounds</h1>
    <div id="map" class="mb-5" style="border-radius: 2%; width: 100%; height: 400px;"></div>
    <form action="/campgrounds" method="GET" class="mb-5 d-flex justify-content-center">
        <div class="input-group w-75 shadow-sm rounded-pill overflow-hidden">
            <input 
                type="text" 
                name="q" 
                class="form-control border-0 px-4 py-2" 
                placeholder="ðŸ” Search by name or destination (e.g., Pine, Manali)" 
                value="<%= typeof query !== 'undefined' ? query : '' %>"
                style="border-radius: 50px 0 0 50px;"
            >
            <button class="btn btn-primary px-4" type="submit" style="border-radius: 0 50px 50px 0;">
                Search
            </button>
        </div>
    </form>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% for (let campground of campgrounds) { %>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <%if(campground.images.length){%>
                    <img crossorigin="anonymous" src="<%=campground.images[0].url%>" height="200" class="card-img-top" alt="<%= campground.title %>">
                    <%}%>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"><%= campground.title %></h5>
                        <p class="card-text"><%= campground.description.slice(0,100) %><%= campground.description.length>100?"...": ""%></p>
                        <p class="card-text text-muted fw-semibold">$<%= campground.price %></p>
                        <div class="mt-auto">
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary w-100">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <% if (campgrounds.length === 0) { %>
        <div class="container my-5 text-center">
            <div class="alert alert-warning py-4" role="alert" style="font-size: 1.25rem;">
            <strong>Oops!</strong> No campgrounds found for your search.
            </div>
        </div>
        <% } %>
    </div>
</div>

<script>
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
    const mapCenter = <%- JSON.stringify(mapCenter || [78.9629, 20.5937]) %>; // [lng, lat] of India
    const mapZoom = <%- JSON.stringify(mapZoom || 4) %>;
</script>
<script src="/javascripts/clusterMap.js"></script>